@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Content/Scripts")
    <link href="@Url.Content("~/Content/Style.css")"
          rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
@RenderBody()
</body>
</html>
