@model MvcDemo.Models.Student
@{
    ViewBag.Title = "Create new";
}

@using (Html.BeginForm())
{
    <h2>Enter Detail</h2>
    <table>
        <tr>
            <td>@Html.Label("Roll Number:");</td>
            <td>@Html.TextBox("RollNo", null, new { type = "number" })</td>
            <td>@Html.ValidationMessageFor(m => m.RollNo)</td>
        </tr>
        <tr>
            <td>@Html.Label("First Name:");</td>
            <td>@Html.TextBox("FName")</td>
            <td>@Html.ValidationMessageFor(m => m.FName)</td>
        </tr>
        <tr>
            <td>@Html.Label("Last Name:");</td>
            <td>@Html.TextBox("LName")</td>
            <td>@Html.ValidationMessageFor(m => m.LName)</td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Create" /></td>
        </tr>
    </table>
    
   
    <h3>@ViewBag.Result</h3>
}